# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Output of Vite build
dist/
dist-ssr/
*.local

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Metadata
.DS_Store
Thumbs.db
Desktop.ini

# Vite cache
.vite/

# Python ignore patterns
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.ipynb_checkpoints/
.streamlit/config.toml
.streamlit/secrets.toml

# Streamlit NetCDF data files (if they put large data sets in data/ folder)
Sargazord-main/data/*.nc

